 /* Estilos para el Index */
        body {
            background-color: #F2F2F2;
            min-height: 100vh;
        }

        header {
            background-color: #007bff;
            color: #fff;
        }

        .navbar-brand {
            font-size: 24px;
            font-weight: bold;
        }

        .navbar-toggler {
            color: #fff;
            border-color: #fff;
        }

        .navbar-toggler-icon {
            background-color: #fff;
        }

        .nav-link {
            color: #333;
        }

        .container {
            padding: 20px;
        }

        .content {
            flex: 1;
            padding: 20px;
        }

        footer {
            background-color: #243049;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        /* Estilos específicos para la veterinaria */
        .hero {
            background-image: url('../IndexBackgroundImage.png');
            background-size: cover;
            background-position: center;
            color: #243049;
            text-align: center;
            padding: 100px 0;
        }

        .hero h1 {
            font-size: 36px;
        }

        .hero p {
            font-size: 18px;
        }